# Untracked files:
*.obj
*.pdb
*.idb
*.pch
*.user
*.def
*.ncb
*.suo
*.aps
*/debug/
/debug/
*/release/
/release/
ReadMe.txt
readme.html
/AppResources/
/Communication/
/MapGenerator/ImageStone/example/
/MapGenerator/Debug/
/MapGenerator/Release/
VC*.txt
example.html
Thumbs.db
BuildLog.htm
/ScriptCompiler/Debug/
/ScriptCompiler/Release/