# Untracked files:
*.obj
*.pdb
*.idb
*.pch
*.user
*.def
*.ncb
*.suo
*.aps
*/debug/
# the next line excludes the /debug/ folder itself. this means no exception can overrule it
/debug/  
# the next line excludes the content of the /debug/ folder. therefore, the following exception can be made:
/debug/*
# the next line adds ScriptCompilerApp.ini to git monitoring:
!/debug/ScriptCompilerApp.ini
*/release/
/release/
ReadMe.txt
readme.html
/Communication/
/MapGenerator/ImageStone/example/
/MapGenerator/Debug/
/MapGenerator/Release/
VC*.txt
example.html
Thumbs.db
BuildLog.htm
/ScriptCompiler/Debug/
/ScriptCompiler/Release/
*.log
/ApplicationLogs/
/ScriptCompiler/Debug/
/ScriptCompiler/Release/
*.manifest
*.manifest.res
*.txt.bak
*.txt.orig